<div class="navbar d-flex justify-content-between">

  <div>
    <%= link_to "Simple Airbnb", flats_path %>
  </div>

  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput"></label>
        <input type="text" class="form-control mb-2" id="inlineFormInput">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-success mb-2">Search</button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-primary mb-2">Add flat</button>
      </div>
    </div>
  </form>
</div>
